.idea
.project
.DS_Store
.vscode
npm-debug.log

RP-admin/dist
RP-admin/node_modules

RP-maker/node_modules
RP-maker-creat/node_modules
RP-maker-creat/dist
RP-maker-creat/templates

RP-create/node_modules
RP-create/dist
RP-create/templates

RP-server/node_modules
RP-server/config.coffee
RP-server/assets/

RP-home/dist
RP-home/src/node_modules

RP-admin/dist
RP-admin/node-modules

RP-front/node_modules
RP-front/bower_components
RP-front/www
RP-front/temp
RP-front/dist

RP-front/temp

RP-home-mobile/node_modules
RP-home-mobile/bower_components
RP-home-m/npm-debug.log
RP-home-m/www/index.min.js
RP-home-m/www/index.min.js.map
RP-home-m/dist

RP-manager/

RP-mobile/dist
RP-mobile/node_modules

RP-server/test/oldTemplateData
spa/
