p {
    font-size: 16px;
}

input {
    width: 300px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.m-btn,button {
    width: 120px;
    height: 39px;
    background: #22B5CE;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
}
.m-btn{
    display: inline-block;
}
a{
    text-decoration: none;
}
.div-beauty{
    margin: 5px;
    box-shadow: 2px 2px 2px #ccc;
    box-sizing: border-box;
}
