@bgcolor: #324157;
body{
    min-width: 960px;
}
p {
    font-size: 16px;
}

input {
    width: 300px;
    line-height: 30px;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.m-btn,
button {
    width: 120px;
    height: 39px;
    margin: 0 auto;
    background: #324157;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 5px;
    //  box-shadow: 2px 2px 2px #ccc;
    margin: 5px 0;
    box-sizing: border-box;
    &:first-child {
        margin-top: 0;
    }
}
.m-btn {
    display: inline-block;
}
a {
    text-decoration: none;
}
.div-beauty {
    margin: 5px;
    box-shadow: 2px 2px 2px #ccc;
    box-sizing: border-box;
}
a.router-link-active {
    border-bottom: 3px solid #1597FF;
}
.el-menu-item {
    a {
        //      display: inline-block;
    }
}
.is-active {
    //  border-bottom:2px solid #1597FF;
}
.span-router {
    cursor: pointer;
}
